---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Education from "../components/Education.astro";
import info from "../data/info.json";
import Contacts from "../components/Contacts.astro";
import Competitions from "../components/Competitions.astro";
---

<Layout title="resume | Arikato111">
  <main>
    <div class="flex justify-between">
      <div class="flex items-center">
        <h1 class="text-4xl mb-3 font-bold">
          {info.personal.name}
        </h1>
      </div>
      <Contacts />
    </div>

    <div class="max-w-4xl my-3">
      {info.personal.description}
    </div>
    <div class="hr"></div>
    <Skills />
    <div class="hr"></div>
    <Projects />
    <div class="hr"></div>
    <Competitions />
    <div class="hr"></div>
    <Education />
  </main>
</Layout>

<style>
  .hr {
    height: 2px;
    /* background-color: black; */
    border-top: solid 1px #000 !important;
  }
</style>
