---
import type { Lang } from "../types/lang";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;

const msg = {
  exp: {
    en: "Experiences",
    th: "ประสบการณ์",
  },
  noexp: {
    en: "No Experiences",
    th: "ไม่มีประสบการณ์",
  },
};
---

<div class="my-2">
  <h3 class="font-bold text-xl">{msg.exp[lang]}</h3>
  <div>
    <div class="mx-10 font-bold text-red-700">- {msg.noexp[lang]}</div>
  </div>
</div>
