<header class="print:hidden bg-orange-200 py-10 px-7">
  <div class="flex justify-between">
    <div>
      <div>You can print this by press or click print button at right.</div>
      <div>
        <a
          class="underline hover:text-blue-600"
          href="https://github.com/Arikato111/resume">view source code</a
        >
      </div>
    </div>
    <div>
      <button
        onclick="print()"
        class="bg-green-300 hover:bg-green-400 py-1 px-3 rounded border-2 shadow"
        >Print</button
      >
    </div>
  </div>
</header>
