---
import type { Lang } from "../types/lang";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;

const msg = {
  resume: {
    th: "เรซูเม่ออนไลน์",
    en: "Online resume",
  },
};

const resumeLink = "https://resume.nawasan.dev";
---

<div class="text-right">
  {msg.resume[lang]}:
  <a class="underline" href={resumeLink}>{resumeLink}</a>
</div>
